//colors
$blue: rgb(0, 30, 70)
$white: rgb(230, 230, 230)
$grey: rgb(190, 190, 190)
$red: rgb(160, 30, 30)
$blue-green: rgb(60, 150, 100)
$green: rgb(0, 130, 70)

//general
html
	font-family: 'Robot', sans-serif

body
	margin: 0
	background-color: $white

//navigation
.navigation
	background-color: $blue
	color: $white
	width: 100%

	h1
		text-align: center
		font-size: 3em
		margin: 0
		background-color: $blue
		padding-top: 10px
		padding-bottom: 10px

	.nav-bar
		text-align: center
		padding-top: 10px
		padding-bottom: 10px

		div
			width: 6em
			display: inline-block
			padding-right: (10%/3)

	.empty
		height: 0

		.welcome
			text-align: right
			margin-right: 3em
			position: relative
			bottom: 4em
			height: auto

.title
	background-color: $grey
	padding-top: 1em
	padding-bottom: 1em

	h2
		margin: 0
		margin-left: 20%

.bar
	background-color: $blue
	text-align: center
	color: $white
	padding-top: 1em
	padding-bottom: 1em

	h3
		margin: 0
		font-size: 3em

.chapter-tiles
	margin-left: 20%
	margin-right: 20%
	margin-top: 20px
	display: grid
	grid-template-columns: auto auto auto auto
	grid-gap: 2em

	.tile
		background-color: $blue-green
		background: linear-gradient(to bottom right, $blue-green, $green)
		background-size: 15em
		height: 15em
		line-height: 15em
		width: 15em
		box-shadow: 6px 6px 8px darken($white, 20%)
		transition: background .5s ease-out

		.tile-content
			text-align: center

	.tile:hover
		background-position: 15em

		//background: linear-gradient(to bottom right, darken($blue-green, 20%), darken($green, 20%))
