@import "variables.sass"

.overzicht
	margin-left: 20%

	.table
		width: 80%
		margin-top: 2em
		margin-bottom: 2em
		box-shadow: 0 5px 20px darken($white, 50%)
		-webkit-backface-visibility: hidden

		.headerRow
			width: 100%

			.headerRowContent
				font-size: 2em
				box-sizing: border-box
				width: 100%
				padding-left: 1em
				padding-top: 0.5em
				padding-bottom: 0.5em
				background-color: $blue-green
				color: $white

				span
					display: inline-block
					word-break: break-all

				.icons
					span
						box-sizing: border-box
						img
							height: 1.5em
							width: 1.5em
							vertical-align: middle

					.Arrow
						img
							transform: rotateX(0deg)
							transition: transform 0.4s
							transform-origin: 50% 50%

					.Arrow.active
						img
							transform: rotateX(180deg)

					.Edit
						img
							margin-left: 1em

			.rowContent
				display: none
				word-break: break-all

				.row
					display: block
					box-sizing: border-box
					width: 100%
					padding-left: 4em
					padding-top: 0.5em
					padding-bottom: 0.3em
					background-color: $green-blue

					color: $white

					span
						display: inline-block

					span.name
						width: 20%

					span.groepnaam
						width: 20%

					span.groepsrol
						width: 20%

					span.gemiddelde
						width: 20%

					span.progressie
						width: 15%

					.onSchedule
						width: 1em
						height: 1em
						border-radius: 50%
						border: 1px solid $grey
						background-color: lighten($green-blue, 10%)

					.notSchedule
						width: 1em
						height: 1em
						border-radius: 50%
						border: 1px solid $grey
						background-color: lighten($red, 15%)

				.row:nth-child(even)
					background-color: darken($green-blue, 5%)

			.rowContent.active
				display: block

//klas
.overzicht
	.table
		.headerRow.klassen
			.headerRowContent
				span.klas
						width: 20%

				span.Nleerlingen
					width: 30%
					padding-right: 30%

				span.icons
					padding-right: 0

//groep
.overzicht
	.table
		.headerRow.groepen
			.headerRowContent
				span.image
					padding-right: 0

				span.groep
					width: 20%

				span.Nleden
					width: 30%

				span.klassen
					width: 29%

		.groepInhoud
			background-color: $blue-green
			color: $white
			display: block
			box-sizing: border-box
			-webkit-box-sizing: border-box
			width: 100%
			padding-left: 4em
			padding-top: 0.5em
			padding-bottom: 0.3em

			.groepsBeschrijving
				width: 80%
				display: block

			.groepsLink
				width: 80%
				display: block
				padding-top: 0.5em
				padding-bottom: 0.5em

				a
					color: $white

				a:hover
					color: $grey


.addGroupButton
	input
		font-size: 2em
		padding: 12px 12px
		border-radius: 4px
		height: 2em
		margin-bottom: 2em
		box-shadow: 4px 4px 8px darken($grey, 20%)
		transition: background .4s ease-out, box-shadow 0.2s ease-in-out
		background: linear-gradient(to bottom right, $green-blue, lighten($green-blue, 10%))

	input:hover
		box-shadow: 2px 2px 6px darken($grey, 30%)
		background: linear-gradient(to bottom right, $green-blue, $blue-green)

@media (max-width: $xlarge)
	.overzicht
		margin-left: 5%
		margin-right: 5%

		.table
			width: 100%

			.headerRow.klassen
				.headerRowContent
					span.klas
						width: 25%

					span.Nleerlingen
						width: 45%
						padding-right: 5%

			.headerRow.groepen
				.headerRowContent
					span.groep
						width: 25%

					span.Nleden
						width: 30%

					span.klassen
						width: 40%

					span.icons
						display: block

@media (max-width: $large)
	.overzicht
		.table
			.headerRow.klassen
				.headerRowContent
					span.klas

					span.Nleerlingen

			.headerRow.groepen
				.headerRowContent
					span.groep
						width: 100%
						display: block

					span.Nleden
						width: 100%
						display: block

					span.klassen
						width: 100%
						display: block

					span.icons
						width: 100%
						display: block
