@import "variables.sass"

.classOverview
	margin-left: 20%

	img
		width: 2em
		height: 2em
		vertical-align: middle

	table
		color: $white
		margin-top: 2em
		margin-bottom: 2em
		width: 80%
		border-collapse: collapse
		background-color: darken($green-blue, 0%)
		display: block

		//make it easier to see what line you're on
		tr:nth-child(even)
			background-color: darken($green-blue, 5%)

		tr
			width: 30%
			border: 1px solid darken($grey, 20%)


			td
				padding-top: 0.5em
				padding-bottom: 0.5em

			td:first-child
				padding-left: 2em

	//row for a full class
	tr.classRow
		background-color: $blue-green
		font-size: 1.5em

		td
			padding-top: 1em
			padding-bottom: 0.5em

			.tableHeaderElement
				margin-right: 4em
