@import "variables.sass"

.classOverview
	margin-left: 20%

	table
		margin-top: 2em
		margin-bottom: 2em
		width: 80%
		border-collapse: collapse
		border-top: 2px solid $grey

		tr:nth-child(even)
			background-color: lighten($grey, 20%)

		tr
			width: 30%
			border: 2px solid $grey

			td
				padding-top: 0.5em
				padding-bottom: 0.5em

			td:first-child
				padding-left: 2em

	tr:first-child

		border: 2px solid darken($grey, 20%)

		td
			padding-top: 1em
			padding-bottom: 1em
