@import "variables.sass"

.title-small
	background-color: $grey
	padding-top: 0.5em
	padding-bottom: 0.5em

	h2
		margin: 0
		margin-left: 20%

.bar-tall
	background-color: $blue
	text-align: center
	color: $white
	padding-top: 2em
	padding-bottom: 2em
	box-shadow: 0 5px 20px darken($white, 50%)
	position: relative
	z-index: 30
	background: linear-gradient(to bottom right, $blue, $blue-green)

	h3
		margin: 0
		font-size: 3em
