@import "variables.sass"

.main
	button[type=submit]
		margin-left: 4.1em

	ul
		list-style: none
		margin: 0
		padding-left: 0.5em

	img
		width: 4rem
		height: 4rem

	.mainForm
		padding-top: 2em
		padding-left: 2em

	.RedButton:hover
		a:hover
			color: $black
			cursor: default

	#captcha
		margin-bottom: 2em
		margin-left: 6em

	.cookie
		width: 80%
		padding-bottom: 1em
		font-size: 1.5rem
		margin-left: 4.1em

@media (max-width: $large)
	.main
		.cookie
			padding-left: 0

		input
			width: 60%
			margin-left: 0

		input[type=submit]
			margin-left: 0
			width: 50%
			min-width: 4em

		.loginForm
			padding-top: 2em
			padding-left: 0

		.resetPasswordButton
			margin-left: 0

@media (max-width: $medium)
	.main
		margin-left: 0em
		margin-right: 0em
		border-radius: 0
		width: auto

		input
			width: 80%

		button[type="submit"]
			margin-left: 0

		img
			display: none

		.resetPasswordButton
			width: 70%

		.cookie
			margin-left: 0
