@import "variables.sass"

.main
	box-sizing: border-box
	
	label
		display: block

	input[type="submit"]
		font-size: 1em

	.list
		cursor: default

		ul
			padding-left: 0.8em

		.list-item
			width: 60%
			display: inline-block

		.delete
			display: inline-block
			transition: color 0.4s

		.delete:hover
			color: $red
			cursor: pointer

	.add-item
		input
			width: 60%
			display: inline-block

		.plus-sign
			display: inline-block
			vertical-align: middle
			margin-bottom: 0.65em
			font-size: 2em

		.plus-sign:hover
			color: $primairy1
			cursor: pointer

	ul
		list-style: none
		margin: 0
		padding: 0

	img
		width: 4em
		height: 4em

@media (max-width: $large)
	.main
		width: 100%
		margin-left: 0
		border-radius: 0

@media (max-width: $medium)
	.main
		input
			width: 60%
			margin-left: 0

		select
			margin-left: 0

		textarea
			width: 70%
			margin-left: 0

		button
			height: auto
			max-width: 75vw

		.red-button
			height: auto
			max-width: 75vw
