@import "variables.sass"

.main
	font-size: 2em
	height: auto
	margin-left: 20%
	margin-top: 40px
	width: 60%
	box-shadow: inset 0 0 0 0 darken($white, 10%), 6px 6px 8px darken($white, 20%)
	border-radius: 4px
	color: $black
	background: linear-gradient(to bottom right, $green-blue, $green)
	padding-top: 0.5em
	padding-left: 1em

	label
		display: block

	input
		font-size: 0.8em
		margin-bottom: 1em
		margin-top: 1em
		margin-left: 1em
		position: relative
		bottom: 20px
		padding: 12px 12px
		border-radius: 4px
		height: 2em

	input[type="submit"]
		font-size: 1em

	textarea
		font-size: 1em
		margin-bottom: 1em
		margin-top: 1em
		margin-left: 1em
		position: relative
		bottom: 20px
		padding: 12px 12px
		border-radius: 4px
		height: 6em
		width: 80%
		transition: background .5s ease-out, box-shadow 0.5s ease-in-out
		resize: none
		border: none

	.list
		cursor: default

		.list-item
			width: 60%
			display: inline-block

		.delete
			display: inline-block
			transition: color 0.4s

		.delete:hover
			color: $red
			cursor: pointer

	.add-item
		input
			width: 60%
			display: inline-block

		.plus-sign
			display: inline-block
			vertical-align: middle
			margin-bottom: 0.65em
			font-size: 2em

		.plus-sign:hover
			color: $primairy1
			cursor: pointer

	ul
		list-style: none

	img
		width: 4em
		height: 4em

@media (max-width: $large)
	.main
		width: 100%
		margin-left: 0
		padding-left: 0
		padding-top: 0.2em
		border-radius: 0

		input
			width: 80%
			margin-left: 0

		textarea
			width: 80%
			margin-left: 0
