@import "variables.sass"

.main
	box-sizing: border-box

	label
		display: block

	.list
		margin-top: 0.5rem
		padding-left: 1rem
		cursor: default

		.list-item
			width: 60%
			display: inline-block

		.delete
			display: inline-block
			transition: $transition-speed

		.delete:hover
			color: $red
			cursor: pointer

	.plus-sign
		display: inline-block
		vertical-align: middle
		font-size: 2em

	.plus-sign:hover
		color: $primairy1
		cursor: pointer

	.add-item
		input
			width: 60%
			display: inline-block

		input.small
			width: 20%

		input.medium
			width: 30%

		.plus-sign
			display: inline-block
			vertical-align: middle
			margin-bottom: 0.65em
			font-size: 2em

		.plus-sign:hover
			color: $primairy1
			cursor: pointer

	ul
		list-style: none
		margin: 0
		padding: 0

	img
		width: 4em
		height: 4em

	//edit class specific
	.klasSelector
		option
			font-size: 1em
			height: 1em
			padding: 12px 12px

	.leerlingSelector
		margin-bottom: 1em

		.leerling
			margin-left: 1em

	//buttons
	.ConfirmButton, .redButton
		margin-left: 0

	.top-header
		height: 2em
		width: 100%
		display: inline-block
		box-sizing: border-box
		padding: 0
		font-size: 1.5em

	#itemName
		height: 2em
		background-color: $primairy2
		width: 100%
		display: inline-block
		box-sizing: border-box
		padding-left: 1.5em
		padding-top: .5em
		font-size: 1.5em

	//edit group specific
	.editGroupForm
		padding-left: 1em
		padding-top: 0.5em

@media (max-width: $large)
	.main
		width: 100%
		margin-left: 0
		border-radius: 0

@media (max-width: $medium)
	.main
		input
			width: 60%
			margin-left: 0

		select
			margin-left: 0

		textarea
			width: 70%
			margin-left: 0

		button
			height: auto
			max-width: 75vw

		.redButton
			height: auto
			max-width: 75vw

		//edit item specific
		.addItem
			input
				width: 65%

		//editGrup specific
		.editGroupForm
			padding-left: 0
			padding-top: 0

		//leerlingSelector
		.leerlingSelector
			.leerling
				margin-left: 0
