@import "variables.sass"

.overzicht
	margin-left: 20%

	.table
		width: 80%
		margin-top: 1.5rem
		margin-bottom: 1.5rem
		box-shadow: 0 5px 20px darken($white, 50%)
		-webkit-backface-visibility: hidden
		background-color: $secondary1
		color: $white

		.headerRow
			width: 100%

			.headerRowContent
				font-size: 2em
				box-sizing: border-box
				width: 100%
				padding-left: 2rem
				padding-top: 0.4rem
				padding-bottom: 0.4rem

				span
					display: inline-block
					word-wrap: break-word

			.rowContent
				display: none
				word-break: break-all

				.row
					display: block
					box-sizing: border-box
					width: 100%
					padding-left: 4em
					padding-top: 1rem
					padding-bottom: 0.3em
					background-color: $secondary2

					color: $black

					span
						display: inline-block

					span.name
						width: 20%

					span.groepnaam
						width: 20%

					span.groepsrol
						width: 20%

					span.gemiddelde
						width: 20%

					span.progressie
						width: 15%

				.row:nth-child(even)
					background-color: darken($secondary2, 10%)

			.rowContent.active
				display: block

//zoek functie
.searchWrap
	font-size: 2em
	margin-left: 20%
	margin-top: 1.5rem
	margin-bottom: 1.5rem

	.searchResult
		width: 80%
		box-sizing: border-box
		height: auto
		margin-top: 1.5rem
		padding-left: 2rem
		padding-top: .4rem
		padding-bottom: .4rem
		box-shadow: inset 0 0 0 0 darken($white, 10%), 6px 6px 8px darken($white, 20%)
		background-color: $secondary1
		color: $white

	.searchResult > div
		padding-top: .4rem
		padding-bottom: .4rem

	.searchResultInhoud
		span
			margin-right: 2rem

	.searchResultProgressieChapter
		span
			margin-right: 2rem

		.searchResultProgressieInhoudPercentage
			width: 5%
			display: inline-block

	.searchResultProgressieParagraphRowParagraph
		margin-right: 1rem

	.searchResultProgressieParagraphRowProgress
		position: relative

		.notOnSchedule
			position: absolute
			top: 50%
			transform: translateY(-50%)

		.onSchedule
			position: absolute
			top: 50%
			transform: translateY(-50%)



//klas
.overzicht
	.table
		.headerRow.klassen
			.headerRowContent
				span.klas
					width: 25%

				span.Nleerlingen
					width: 45%
					padding-right: 5%

				span.icons
					padding-right: 0

//groep
.overzicht
	.table
		.headerRow.groepen
			.headerRowContent
				span.image
					padding-right: 0

				span.groep
					width: 20%

				span.Nleden
					width: 30%

				span.klassen
					width: 29%

			.rowContent
				.row

					span.name
						width: 20%

					span.class
						width: 20%

					span.role
						width: 20%

		.groepInhoud
			background-color: $secondary1
			color: $white
			display: block
			box-sizing: border-box
			-webkit-box-sizing: border-box
			width: 100%
			padding-left: 4em
			padding-top: 0.5em
			padding-bottom: 0.3em

			.groepsBeschrijving
				width: 80%
				display: block

			.groepsLink
				width: 80%
				display: block
				padding-top: 0.5em
				padding-bottom: 0.5em

				a
					color: $white

				a:hover
					color: $grey

	.changeClassButton
		display: inline-block
		margin-right: 2em

	.deleteStudentsButton
		display: inline-block

@media (max-width: $large)
	.overzicht
		margin-left: 5%
		.table
			width: 95%

@media (max-width: $medium)
	.overzicht
		.table
			.headerRow.klassen
				.headerRowContent
					span.Nleerlingen
						width: 80%
						padding-right: 0

			.headerRow.groepen
				.headerRowContent
					span.groep
						width: 30%

					span.Nleden
						width: 50%

					span.klassen
						width: 20%

@media (max-width: $small)
	.overzicht
		margin-left: 0
		margin-right: 0

		input, button
			margin-left: 5%
			max-width: 90%
			height: auto

		.table
			width: 100%
			.headerRow.klassen
				.headerRowContent
					padding-left: 1rem
				.rowContent
					.row
						padding-left: 1rem

						span.name
							width: 100%

						span.groepnaam
							width: 100%

						span.groepsrol
							width: 100%

						span.gemiddelde
							width: 80%

						span.progressie
							width: 0

			.headerRow.groepen
				.headerRowContent
					span.groep
						width: 80%

					span.Nleden
						width: 80%

					span.klassen
						width: 80%

				.rowContent
					.groepInhoud
						padding-left: 1rem

					.row
						padding-left: 1rem

						span.name
							width: 80%

						span.class
							width: 80%

						span.role
							width: 80%
