@import "variables.sass"

.title-small
	background-color: $secondary2
	padding-top: 0.5em
	padding-bottom: 0.5em

	h2
		margin: 0
		margin-left: 20%

.installation-bar
	@extend .bar-par-overview
	font-size: 1.8rem

	h3
		margin: 0

.bar-par-overview
	background-color: $primairy1
	text-align: center
	color: $white
	padding-top: 0.25em
	padding-bottom: 0.25em
	box-shadow: $box-shadow
	background: linear-gradient(to bottom right, $primairy1, $primairy2)

.paragraph-tiles
	margin-left: 20%
	margin-right: 20%
	font-size: 1.1em
	padding-top: .3rem
	padding-bottom: .3rem

	.ptile
		width: 2em
		height: 2em
		display: inline-block
		background: linear-gradient(to bottom right, darken($secondary2, 5%), lighten($secondary2, 5%))
		box-shadow: 0 3px 2px darken($darker-grey, 5%)
		line-height: 2em
		margin-left: 0.2em
		color: $black
		cursor: pointer
		border-radius: $border-radius-xs

	.ptile:hover
		background: linear-gradient(to bottom right, $secondary2, lighten($secondary2, 15%))
		color: $black

	.ptile.folded
		width: 2.5em
		height: 2.5em
		line-height: 2.5em
		margin: 0.3em
		background: linear-gradient(to bottom right, darken($secondary2, 15%), darken($secondary2, 10%))

.bar-s
	text-align: center
	color: $white
	padding-top: 0.5em
	padding-bottom: 0.5em
	background-color: mix($primairy2, $primairy1, 50%)
	box-shadow: $box-shadow-l2
	transition: box-shadow $transition-speed

	h3
		margin: 0
		font-size: 2em

.bar-s:first-child
	border-top-right-radius: $border-radius-m
	border-top-left-radius: $border-radius-m

.bar-s.folded
	box-shadow: none

.theorie
	width: 60%
	margin-left: 20%
	margin-top: 2em
	margin-bottom: 4em

	p
		margin-top: 0.5em

	a
		color: $primairy2

	a:hover
		color: $grey

	.theorie-content
		padding: 0.5em 2em
		font-size: 1.5em
		word-break: normal
		background-color: lighten($white, 5%)

		img
			display: block
			margin-top: 2em
			margin-bottom: 2em
			max-width: 100%

		img.small
			max-height: 30rem
			max-width: 40rem

		img.small.inline
			display: inline-block
			margin-bottom: 0.5em

		pre
			white-space: pre-wrap
			word-wrap: break-word
			font-family: 'Robot', sans-serif

			code
				font-family: monospace

		.theorieTitle
			display: block
			margin-bottom: 1em
			margin-top: 0.5em
			font-size: 1.5em

		.table-wrapper
			width: 100%

			table
				width: 100%
				margin-top: 1em
				margin-bottom: 2em

				th
					text-align: left
					padding-right: .5rem

				tr
					height: 3em

				td
					border-top: 1px $grey solid
					padding-right: 1rem
					padding-top: .5rem
					padding-bottom: .5rem

		.table-wrapper.tSL
			table
				tr
					th:first-child
						width: 15%

		.MLquestion
			li
				ol
					list-style-type: lower-latin
					margin-top: 1rem
					ol
						list-style-type: decimal

		.MLquestionAlt
			li
				ol
					list-style-type: decimal
					margin-top: 1rem
					ol
						list-style-type: lower-latin

		.MLquestionAlt2
			li
				ol
					list-style-type: lower-latin
					margin-top: 1rem
					li
						ol
							li
								list-style-type: decimal

		li
			margin-bottom: 0.8rem

	.theorie-answers
		.table-wrapper
			table
				margin-top: 0

.goToTop
	width: 4rem
	height: 4rem
	line-height: 4rem
	text-align: center
	font-size: 2rem
	box-sizing: border-box
	color: $white
	float: right
	margin-right: 20%
	background-color: mix($primairy2, $primairy1, 50%)
	border-radius: 50%
	margin-bottom: 20rem
	margin-top: 4em
	box-shadow: $box-shadow

@media (max-width: $large)
	.title-small
		h2
			margin-left: 2rem

	.paragraph-tiles
		margin-left: 10%
		margin-right: 10%

	.theorie
		width: 100%
		margin-left: 0

		.theorie-content
			padding: 1em 0.5em

			.table-wrapper
				overflow-x: scroll

			table
				width: 100%

			img.small
				max-width: 80vw

	.goToTop
		margin-right: 0
