@import "variables.sass"

.items
	margin-left: 20%

	.table
		display: inline-block
		width: 80%
		margin-top: 2em
		margin-bottom: 2em
		-webkit-backface-visibility: hidden

		.item.old
			.itemHeader.docent, .itemHeader.leerling
				background-color: darken($grey, 5%)

			.itemContent
				.itemInhoud
					background-color: darken($grey, 5%)

		.item
			.itemHeader
				width: 100%
				background-color: $secondary1
				color: $white
				font-size: 2em
				box-sizing: border-box
				width: 100%
				box-shadow: $box-shadow

				.itemHeaderContent
					padding-left: 1em
					padding-bottom: 0.2em
					padding-top: 0.2em

			.itemHeader.first
				border-top-left-radius: $border-radius-s
				border-top-right-radius: $border-radius-s

			.itemHeader.last
				border-bottom-left-radius: $border-radius-s
				border-bottom-right-radius: $border-radius-s

			.itemHeader.docent
					span
						display: inline-block
						word-break: break-all

					span.datum
						width: 15%

					span.klas
						width: 15%

					span.naam
						width: 30%

					span.hoofdstukken
						width: 20%

			.itemHeader.leerling
					span
						display: inline-block
						word-break: break-all

					span.datum
						width: 25%
						min-width: 6em

					span.klas
						display: none

					span.naam
						width: 35%
						min-width: 6em

					span.hoofdstukken
						width: 25%
						min-width: 6em

					.icons
						span
							box-sizing: border-box
							img
								height: 1.5em
								width: 1.5em
								vertical-align: middle

						.Arrow
							img
								transform: rotateX(0deg)
								transition: transform $transition-speed
								transform-origin: 50% 50%

						.Arrow.active
							img
								transform: rotateX(180deg)

						.Edit
							img
								margin-left: 1em

			.itemContent
				display: none
				word-break: break-all

				.itemInhoud
					display: block
					box-sizing: border-box
					width: 100%
					padding-left: 4rem
					padding-top: 1rem
					padding-bottom: 0.6rem
					font-size: 0.8em
					background-color: $secondary1

					color: $white

			.itemContent.active
				display: block

@media(max-width: $large)
	.items
		margin-left: 0%

		.addItemButton
			margin-left: 5%

		.table
			width: 100%

@media(max-width: $medium)
	.items
		.table
			.item
				.itemHeader.docent
					.itemHeaderContent
						span.datum
							width: 95%

						span.klas
							width: 95%

						span.naam
							width: 95%

						span.hoofdstukken
							width: 95%

						span.icons
							width: 95%

			.item:not(:last-of-type)
				border-bottom: darken($grey, 15%) 1px solid
