@import "variables.sass"

.items
	margin-left: 20%

	.table
		display: inline-block
		width: 80%
		margin-top: 2em
		margin-bottom: 2em
		box-shadow: 0 5px 20px darken($white, 50%)
		-webkit-backface-visibility: hidden

		.item.old
			.itemHeader.docent, .itemHeader.leerling
				background-color: rgba(darken($primairy2, 15%), .6)

			.itemContent
				.itemInhoud
					//color stacks because of the lower alpha, so the .1 makes sure it's not to dark
					background-color: rgba(darken($primairy2, 15%), .1)

		.item

			.itemHeader.docent
				width: 100%
				background-color: $primairy2
				color: $white
				font-size: 2em
				box-sizing: border-box
				width: 100%

				.itemHeaderContent
					padding-left: 1em
					padding-bottom: 0.5em
					padding-top: 0.5em

					span
						display: inline-block
						word-break: break-all

					span.datum
						width: 15%

					span.klas
						width: 15%

					span.naam
						width: 30%

					span.hoofdstukken
						width: 20%

					.icons
						span
							box-sizing: border-box
							img
								height: 1.5em
								width: 1.5em
								vertical-align: middle

						.Arrow
							img
								transform: rotateX(0deg)
								transition: transform 0.4s
								transform-origin: 50% 50%

						.Arrow.active
							img
								transform: rotateX(180deg)

						.Edit
							img
								margin-left: 1em

			.itemHeader.leerling
				width: 100%
				background-color: $primairy2
				color: $white
				font-size: 2em
				box-sizing: border-box
				width: 100%

				.itemHeaderContent
					padding-left: 1em
					padding-bottom: 0.5em
					padding-top: 0.5em

					span
						display: inline-block
						word-break: break-all

					span.datum
						width: 25%
						min-width: 6em

					span.klas
						display: none

					span.naam
						width: 35%
						min-width: 6em

					span.hoofdstukken
						width: 25%
						min-width: 6em

					.icons
						span
							box-sizing: border-box
							img
								height: 1.5em
								width: 1.5em
								vertical-align: middle

						.Arrow
							img
								transform: rotateX(0deg)
								transition: transform 0.4s
								transform-origin: 50% 50%

						.Arrow.active
							img
								transform: rotateX(180deg)

						.Edit
							img
								margin-left: 1em

			.itemContent
				display: none
				word-break: break-all

				.itemInhoud
					display: block
					box-sizing: border-box
					width: 100%
					padding-left: 4rem
					padding-top: 1rem
					padding-bottom: 0.6rem
					font-size: 0.8em
					background-color: $green-blue

					color: $white

			.itemContent.active
				display: block

.addItemButton
	input
		font-size: 2em
		padding: 12px 12px
		border-radius: 4px
		height: 2em
		margin-bottom: 2em
		box-shadow: 4px 4px 8px darken($grey, 20%)
		transition: background .4s ease-out, box-shadow 0.2s ease-in-out
		background: linear-gradient(to bottom right, $green-blue, lighten($green-blue, 10%))

	input:hover
		box-shadow: 2px 2px 6px darken($grey, 30%)
		background: linear-gradient(to bottom right, $green-blue, $primairy2)

@media(max-width: $large)
	.items
		margin-left: 0%

		.addItemButton
			margin-left: 5%

		.table
			width: 100%

@media(max-width: $medium)
	.items
		.table
			.item
				.itemHeader.docent
					.itemHeaderContent
						span.datum
							width: 25%
							min-width: 6em

						span.klas
							width: 25%
							min-width: 6em

						span.naam
							width: 30%
							min-width: 6em
							margin-top: 1.5em

						span.hoofdstukken
							width: 20%
							min-width: 6em
							margin-top: 1.5em

						span.icons
							min-width: 6em
							margin-top: 0.5em

			.item:not(:last-of-type)
				border-bottom: $black 1px solid
