@import "variables.sass"

.quiz-bar
	font-size: 2em
	background-color: $primairy1
	text-align: center
	color: $white
	padding-top: 0.5em
	padding-bottom: 0.5em
	box-shadow: $box-shadow
	background: linear-gradient(to bottom right, $primairy1, $primairy2)

.vragen
	width: 60%
	margin-left: 20%
	margin-top: 40px
	background-color: lighten($white, 5%)
	box-shadow: $box-shadow
	margin-bottom: 40px
	padding-bottom: 1rem

	.vraagBalk
		font-size: 1.8em
		text-align: center
		color: $white
		padding-top: 1rem
		padding-bottom: 1rem
		background-color: mix($primairy2, $primairy1, 50%)
		position: relative
		z-index: 20
		box-shadow: $box-shadow-l2
		transition: box-shadow $transition-speed
		padding-left: 1em
		padding-right: 1em

	.vraagBalk.inactive
		box-shadow: 0 0px 0px darken($white, 50%)

	.vraagBalk.after-inactive
		box-shadow: 0 4px 10px -5px darken($white, 50%)

	pre
		text-align: left
		padding-left: 5%
		margin: 0

	.antwoorden
		margin-left: 2rem
		padding-top: 1em

		ul
			list-style-type: none
			margin-top: 1em

			li
				min-height: 2rem
				font-size: 1.5em
				margin-top: 0.5em

		input
			box-shadow: none

	.uitleg
		display: none
		margin-left: 4.4rem
		margin-right: 4.4rem
		padding-bottom: 2rem
		font-size: 1.5em

	.uitleg.show
		display: block

//submit button
input[type=submit]
	margin-left: 20%

//show what's right and what's wrong
.vragen
	.vraagBalk.wrong
			background-color: $red

.container input:checked ~ .checkmark.wrong
	background-color: $red

.container input:checked ~ .checkmark.wrong::after
	border-color: $white

.container input:checked ~ .checkmark.right
	background-color: $green

.container input:checked ~ .checkmark.right::after
	border-color: $white

@media (max-width: $large)
	.vragen
		width: 80%
		margin-left: 10%

	input[type=submit]
		margin-left: 10%

@media (max-width: $medium)
	.vragen
		width: 100%
		margin-left: 0

	input[type=submit]
		margin-left: 5%

	.uitleg.show
		margin-left: 1rem
		margin-right: 1rem

	.antwoorden
		ul
			padding-left: 0
			li
				min-height: 3rem
