@import "variables.sass"

.main
	a
		color: $grey

	a:hover
		color: $white

	.add-item
		input
			width: 60%
			display: inline-block

		input.small
			width: 20%

		input.medium
			width: 30%

	.list
		.list-item.klas
			display: inline-block
			width: 35%

		.list-item.leerlingen
			display: inline-block
			width: 20%
			padding-right: 1.5em

	.akkoord
		margin-top: 1em
		margin-bottom: 2em

	.kosten
		margin-top: 1em
		margin-bottom: 2em

		ul
			margin-top: 0.5em

			span
				display: inline-block

			.aantal
				width: 15%

			.item
				width: 20%

			.prijs
				width: 20%

			.Tprijs
				width: 55%
				margin-top: 1em

	.info
		font-size: 80%
		margin-bottom: 1em
		margin-right: 10%
		display: block

	.akkoord
		margin-right: 10%
