.main
	.add-item
		input
			width: 60%
			display: inline-block

		input.small
			width: 20%

		input.medium
			width: 30%

	.list
		padding-bottom: 1em

		.list-item.klas
			display: inline-block
			width: 35%

		.list-item.leerlingen
			display: inline-block
			width: 20%
			padding-right: 1.5em
