//sizes
$xlarge: 1400px
$large: 1200px
$medium: 900px
$small: 650px

//colors
//blue
$primairy1: rgb(50, 100, 110)
//lighter blue
$primairy2: rgb(70, 130, 140)
//grey-blue
$secondary1: rgb(100, 135, 140)
//grey
$secondary2: rgb(190, 190, 190)
//grey-blue-green
$secondary3: rgb(150, 170, 165)

$grey: rgb(190, 190, 190)
$white: rgb(230, 230, 230)

$red: rgb(165, 70, 70)
$green-blue: rgb(147, 200, 170)
$green: rgb(90, 170, 120)
$black: rgb(40, 40, 35)
